#grid1 {
    display: grid;
    padding: 50px;
    grid-column-gap: 50px;
    grid-template-columns: 400px auto;
}

#grid2 {
    display: grid;
    margin-left: 40px;
}

.grid-item {
    font-family: "source-sans-pro", sans-serif;
}

img {
    margin-left: 50px;
    margin-top: 10px;
}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}

p {
    font-size: 18px;
}